<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-icon name="home" slot="end" color="primary" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text color="primary">
    <h1>Pagina de Inicio</h1>
  </ion-text>

  <ion-text color="primary">
    <h3 *ngIf="miuser===''" >Desconocido</h3>
    <h3 *ngIf="miuser!==''" >Bienvenido: {{miuser}}</h3>

  </ion-text>
  <!-- <ion-text color="slot">
    <h1>Este es el index</h1>
  </ion-text>
  <ion-button  expand="success" routerLink="../pag2">
    To page 2
  </ion-button>
  <ion-button expand="block" color="warning" routerLink="../pag3">
    To page 3
  </ion-button>
  <ion-button expand="block" color="dark" shape="round" routerLink="../pag4">
    Entrar a la pagina 4
  </ion-button> -->
</ion-content>

<app-footer></app-footer>
