<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Work</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-encabezado titulo="Pagina 3" icono="person"></app-encabezado>

<ion-content>
  <ion-item *ngFor="let item of [1,1,1,1]" lines="none" >
    <ion-card>
      <ion-card-header>
        <ion-card-title>Wacoldo</ion-card-title>
        <ion-card-subtitle>Wacoldo History</ion-card-subtitle>
        <ion-img src="../assets/images/persona.jpg"></ion-img>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
</ion-item>
</ion-content>

<app-footer></app-footer>